<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mde.potdroid"
      android:versionCode="17" android:versionName="0.17">
    <application android:icon="@drawable/icon" 
                 android:label="@string/app_name" 
                 android:debuggable="false" >
        
        <activity android:name=".activities.ForumActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BookmarkActivity" />
        <activity android:name=".activities.CategoryActivity"/>
        <activity android:name=".activities.BoardActivity" />
        <activity android:name=".activities.TopicActivity" />
        <activity android:name="com.mde.potdroid.activities.PreferenceActivityPot" />
         
         <service 
            android:name="com.mde.potdroid.helpers.NotificationService"
            android:exported="false" />
    </application> 
    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="7" />
</manifest> 