* {
    padding: 0; margin:0; border:0;
}

body {
    font-size:14px;
    background:#fff;
}

.post {
	margin:15px 10px;
    background:#eee;
    border:1px solid #bbb;
}

.title {
    padding:5px;
    background:#bbb;
    font-size:16px;
    color:#333;
}

.title .nick {
    font-weight:bold;
    font-size:14px;
}

.title .date {
    float:right;
    font-size:10px;
    padding-top:3px;
    color:#777;
}

.content {
    padding:5px;
    color:#222;
    
}

.content .posttitle {
    color:#555;
    text-align:right;
    font-size:0.9em;
}


.curruser .title {
    border-left:4px solid darkred;
}

.newpost .title {
    border-left:4px solid yellow;
}

.content a {
	color:#444;
}

.spoiler {
	background:#000;
	color: #eee;
}

.mod {
	color:#FACC2E;
	font-size:14px;
	font-weight:bold;
}

blockquote {
    /*border-left:2px solid #666666;*/
    color:#444;
    margin:5px 3px 5px 3px;
    background:#ddd;
    padding:2px;
    padding-left:4px;
    border-radius:3px;
}

blockquote .author {
    font-weight:bold;
    margin-bottom:2px;
}

blockquote blockquote {
	background: #ccc;
	color:#444;
}

blockquote blockquote blockquote {
    background: #bbb;
    color:#444;
}

blockquote blockquote blockquote blockquote {
    background: #aaa;
    color:#444;
}

blockquote blockquote blockquote blockquote blockquote {
    background: #999;
    color:#444;
}

blockquote blockquote blockquote blockquote blockquote blockquote {
    background: #888;
    color:#444;
}

input.loadimage,input.spoiler {
    padding:3px;
    background:#CCC;
    padding:15px 5px;
    font-size:14px;
    color:#000;
    
}