<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mde.potdroid"
          android:versionCode="54"
          android:versionName="4.0.5">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/PotDroidLight"
            android:name=".PotDroidApplication">

        <activity
                android:name=".LauncherActivity"
                android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".ForumActivity"
                android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPattern="/bb/index\\.php.*"/>
            </intent-filter>

        </activity>

        <activity android:name=".BoardActivity"
                  android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPattern="/bb/board\\.php.*"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".BookmarkActivity"
                android:launchMode="singleTask"/>

        <activity
                android:name=".EditorActivity"/>

        <activity
                android:name=".TopicActivity"
                android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPattern="/bb/thread\\.php.*"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".MessageListActivity"
                android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPattern="/bb/pm/.*"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".MessageActivity"/>

        <activity android:name=".SettingsActivity"/>

        <activity android:name=".AboutActivity">
            <intent-filter>
                <action android:name=".AboutActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name=".services.BootBroadcastReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

        <receiver
                android:name=".services.MessagePollingAlarm"
                android:process=":remote"/>

        <service
                android:name=".services.MessagePollingService"
                android:exported="false"/>
        <provider
                android:name=".helpers.CacheContentProvider"
                android:authorities="com.mde.potdroid.files"
                android:exported="true"/>
    </application>

</manifest>
