<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mde.potdroid"
          android:versionCode="34"
          android:versionName="3.0a5">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="19"/>

    <application
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/PotDroidDark"
            android:uiOptions="splitActionBarWhenNarrow">

        <activity
                android:name=".ForumActivity"
                android:label="@string/app_name"
                android:uiOptions="none">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPrefix="/bb/index.php"/>
            </intent-filter>

        </activity>

        <activity android:name=".BoardActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPrefix="/bb/board.php"/>
            </intent-filter>

        </activity>

        <activity android:name=".BookmarkActivity"/>

        <activity
                android:name=".EditorActivity"
                android:uiOptions="none"/>

        <activity android:name=".TopicActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPrefix="/bb/thread.php"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".MessageListActivity"
                android:uiOptions="none">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPrefix="/bb/pm/"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".MessageActivity"
                android:uiOptions="none">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="forum.mods.de"
                        android:pathPrefix="/bb/pm/?a=2"/>
            </intent-filter>

        </activity>

        <activity android:name=".SettingsActivity"/>

        <activity android:name=".AboutActivity">
            <intent-filter>
                <action android:name=".AboutActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name=".services.BootBroadcastReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

        <receiver
                android:name=".services.MessagePollingAlarm"
                android:process=":remote"/>

        <service
                android:name=".services.MessagePollingService"
                android:exported="false"/>
    </application>

</manifest>
