body {
    padding:10px 0 0 0;
    overflow-x: none;
    margin:0;
    font-size:14px;
}

.post .header,
.post .body {
    padding:10px;
}

.post {
    margin:0 10px 10px 10px;
    width:auto;
    min-height:0;
    z-index:initial;
    overflow:visible;
}

.post .header .post-buttons {
    float:right;
}

.post .header {
    overflow:auto;
}

.post .header .bender {
    background: url("images/placeholder_bender.png") left top / contain no-repeat;
    width:50px;
    height:50px;
    float:left;
}

.post .body {
    overflow:auto;
    width:auto;
}

.post .body .bender {
    background: url("images/placeholder_bender.png") left top / contain no-repeat;
    width:80px;
    height:80px;
    float:left;
}

.post .header .author  {
    font-size:1.0em;
    margin:0;
}

.post .header .info .title,
.post .header .info .date {
    font-size:0.9em;
}

.post .header .author,
.post .header .info .title,
.post .header .info .date {
    width: 100%;
}

.bender.hidden {
    display:none;
}

.post .body > .content {
    margin-left:80px;
}

.post .body .bender.hidden + .content {
    margin-left:0;
}

.post .body .media {
    width:100%;
    display:block;
    margin:5px 0;
    color: inherit;
    text-align:right;
}

.post .body .media i {
    font-size:34px;
    float:left;
}

.post .body .media button {
    font-size:12px;
    padding:10px 15px;
    text-transform: uppercase;
}

.post .body .strike {
    text-decoration: line-through;
}

.post .body .code {
    font-family: monospace;
    white-space: pre;
    padding:5px;
}

.post .body .inline {
    display:inline;
}

.post .body .quote {
    font-size:1em;
    padding:5px;
    border:0;
}

.post .body .quote a.author {
    margin:-5px -5px 5px -5px;
    padding:5px;
    display:block;
    font-weight:normal;
    text-decoration:none;
    font-style: normal;
}

.post .body .quote .author i {
    font-size:1.2em;
    float:right;
}

.post .body .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.post .body .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.post .body  table {
    border-collapse:collapse;
}

.post .body  table tr td {
    padding:3px;
}

.post .body .spoiler .spoiler-content {
    display:none;
    text-align:left;
    padding:5px;
}

.post .body .edited {
    margin-top:1em;
    color:#aaa;
    font-size:0.7em;<
}

.post .body .content img {
    max-width:100%;
}

.post .body table {
    border-collapse:collapse;
}

.post .body table tr td {
    padding:3px;
}

.up-indicator {
    font-size:1.2em;
    text-align:center;
    padding:5px 0 10px 0;
}

.post.oldpost {
    opacity: 0.5;
}


@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}

.spin {
    display:inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
}

button {
  position: relative;
  overflow: hidden;
  outline:none;
  background:none;
  border:0;
}

button:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: #fff;
  border-radius: 100%;
  opacity: .6;

  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

button:not(:active):after {
  animation: ripple 1s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
button:after {
  visibility: hidden;
}

button:focus:after {
  visibility: visible;
}
