body {
    padding:0;
    padding-top:7px;
    background:#111723;
    color:#ddd;
    overflow-x: none;
    margin:0;
}

section {
    background:#394E63;
    margin:7px;
    margin-top:0;
}

.bright > section,
.darkbright > section {
    background:#51677e;
}

section.oldpost {
    opacity: 0.5;
}

section.newpost header {
    border-left:3px solid #E6EE9C;
}

header {
    border-bottom:1px solid #394E63;
    background:#394E63;
    font-weight:bold;
    padding:10px;
    overflow:auto;
}

.bright section header,
.brightdark section header {
    background:#51677e;
}

article {
    overflow:auto;
}

div.bender {
    display:none;
    background-image:url(images/placeholder_bender.png);
    background-position:top left;
    background-size:contain;
    background-repeat:no-repeat;
    float:left;
}

div.up-indicator {
    color: #51677e;
    font-size:1.2em;
    text-align:center;
    padding:5px 0 10px 0;
}

header div.bender {
    height:50px;
    width:50px;
}

article div.bender {
    width:80px;
    height:80px;
}

header div.author {
    color:#fff;
    font-size:1.0em;
    display:block;
}

header div.title {
    color:rgba(255,255,255,0.4);
    font-size:0.8em;
}

header img.posticon {
    float:left;
    display:block;
    padding-right:5px;
}

header div.date {
    color:#aaa;
    font-size:0.8em;
    padding-right:5px;
    font-weight:normal;
}

header .icons i.fa {
    font-size:1.5em;
    color:#222E3A;
    width:1em;
    height:1em;
    text-align:center;
    padding-left:10px;
    display:none;
}

header i:active {
    color:#ffffff;
}

.buttons {
    margin-bottom:10px;
    text-align:center;
}

header .icons {
    float:right;
    text-align:right;
}

article {
    padding:10px;
}

article > div {
    overflow:auto;
    font-size:0.9em;
}

article div img {
    max-width:100%;
}

article div a {
    color:#ccc;
}

article div blockquote {
    background:rgba(9, 24, 39, 0.4);
    border:0px solid rgba(9, 24, 39, 0.4);
    display:block;
    margin:0;
}

article div blockquote a.author {
    background:rgba(9, 24, 39, 0.35);
    font-weight:bold;
    padding:5px;
    color:#fff;
    text-decoration:none;
    display:block;
}

article div blockquote div.content {
    padding:5px;
}

.strike {
    text-decoration: line-through;
}

div.img i,
div.video i,
div.spoiler i,
div.img-link i {
    font-size:2em;
    color:#51677e;
    padding:0 5px;
}

div.img i:active,
div.video i:active,
div.spoiler i:active,
div.img-link i:active {
    color:#fff;
}

div.img,
div.video,
div.spoiler,
div.img-link {
    background: rgba(9,24,39,0.6);
    padding:5px;
    text-align:center;
    margin:5px 0px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.spoiler div {
    color:#eee;
    text-align:left;
    display:none;
}

article div table {
    border-collapse:collapse;
}

article div table tr td {
    border:1px solid #091827;
    padding:3px;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spin {
    display:inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
}
