body {
    background:#e5e5e5;
    color:#333333;
}

section {
    background:#ffffff;
}

section.newpost header {
    border-left:3px solid #EF9A9A;
}

header {
    background-color:#ffffff;
    border-bottom:1px solid #cccccc;
}

div.up-indicator {
    color: #ffffff;
}

header div.author {
    color:#333333;
}

header div.author .number {
    color:#aaa;
}

header div.title {
    color:#aaa;
}

header div.date {
    color:#aaa;
}

header .icons i {
    color:#999;
}

article div.err {
    background:#cc0000;
    color:#fff;
}

article div a {
    color:#555;
}

article div blockquote {
    background:rgba(190, 190, 190, 0.35);
    border:0px solid rgba(190, 190, 190, 0.5);
}

article div blockquote a.author {
    border-bottom:1px solid rgba(190, 190, 190, 0.5);
    color:#333;
}

.edited {
    color:#aaa;
}

div.img i,
div.gif i,
div.video i,
div.spoiler i,
div.img-link i,
div.gif-link i  {
    color:#ffffff;
}

div.img i.err,
div.img-link i.err,
div.gif i.err,
div.gif-link i.err {
    color:#cc0000;
}

div.img i:active,
div.gif i:active,
div.video i:active,
div.spoiler i:active,
div.img-link i:active,
div.gif-link i:active {
    color:#394E63;
}

div.img,
div.gif,
div.video,
div.spoiler,
div.img-link,
div.gif-link {
    background: rgba(150,150,150,0.6);
}

div.spoiler div {
    color:#333;
}

article div table tr td {
    border:1px solid #091827;
}