body {
    padding:0;
    margin:0;
    background:#000;
    color:#ddd;
    overflow-x: none;
}

section {
    background:#394E63;
    margin:15px 10px;
    border-bottom:2px solid #2E3E4F;
    border-radius: 4px;
}

section.oldpost {
    opacity: 0.5;
}

section.newpost header {
    border-left:3px solid yellow;
}

header {
    background-color:#091827;
    font-weight:bold;
    padding:5px;
    overflow:auto;
    border-top-radius: 4px;
    border-top:2px solid #091827;
}

article {
    overflow:auto;
}

div.bender {
    display:none;
    background-image:url(images/placeholder_bender.png);
    background-position:top left;
    background-size:contain;
    background-repeat:no-repeat;
    float:left;
}

header div.bender {
    height:50px;
    width:50px;
}

article div.bender {
    width:80px;
    height:80px;
}

header div.author {
    color:#fff;
    font-size:1.0em;
}

header div.title {
    color:#aaa;
    font-size:0.8em;
}

header img.posticon {
    float:left;
    display:block;
    padding-right:5px;
}

header div.date {
    color:#aaa;
    font-size:0.8em;
    padding-right:5px;
    font-weight:normal;
}

header .icons i.fa {
    font-size:1.5em;
    color:#394E63;
    width:1em;
    height:1em;
    text-align:center;
    padding-left:10px;
    display:none;
}

header i:active {
    color:#ffffff;
}

.buttons {
    margin-bottom:10px;
    text-align:center;
}

header .icons {
    float:right;
    text-align:right;
}

article {
    padding:5px;
}

article > div {
    overflow:auto;
    font-size:0.9em;
}

article div img {
    max-width:100%;
}

article div a {
    color:#ccc;
}

article div blockquote {
    background:rgba(9, 24, 39, 0.35);
    border:1px solid rgba(9, 24, 39, 0.35);
    display:block;
    margin:0;
}

article div blockquote div.author {
    background:rgba(9, 24, 39, 0.35);
    font-weight:bold;
    padding:5px;
    color:#fff;
}

article div blockquote div.content {
    padding:5px;
}

.strike {
    text-decoration: line-through;
}

div.img i,
div.spoiler i,
div.img-link i {
    font-size:2em;
    color:#000;
    padding:0 5px;
}

div.img i:active,
div.spoiler i:active,
div.img-link i:active {
    color:#fff;
}

div.img,
div.spoiler,
div.img-link {
    border:1px solid #000;
    background: rgba(9,24,39,0.6);
    padding:3px;
    text-align:center;
    margin:5px;
}

div.spoiler div {
    color:#eee;
    text-align:left;
    display:none;
}

article div table {
    border-collapse:collapse;
}

article div table tr td {
    border:1px solid #091827;
    padding:3px;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spin {
    display:inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
}
