body {
    padding:0;
    margin:0;
    background:#000;
    color:#ddd;
    overflow-x: none;
}

section {
    background:#394E63;
    margin:.5em;
    border-bottom:2px solid #2E3E4F;
    border-radius: 4px;
}

header {
    background-color:#091827;
    font-weight:bold;
    padding:.5em;
    height:3.4em;
}

header div.bender {
    display:block;
    background-image:url(images/placeholder_bender.gif);
    background-position:top left;
    background-size:contain;
    background-repeat:no-repeat;
    height:3.2em;
    width:3.2em;
    float:left;
}

header div.author {
    color:#fff;
    font-size:1.0em;
}

header div.title {
    color:#aaa;
    font-size:0.8em;
}

header div.date {
    color:#aaa;
    font-size:0.8em;
}

header i.menu-icon {
    font-size:2em;
    color:#aaa;
    float:right;
    display:block;
    width:1em;
    height:1em;
    text-align:center;
}

article {
    padding:.3em;
}

article > div {
    width:100%;
    overflow:auto;
    font-size:0.9em;
}

article div img {
    max-width:100%;
}

article div a {
    color:#ccc;
}

article div blockquote {
    background:rgba(9, 24, 39, 0.35);
    border:1px solid rgba(9, 24, 39, 0.35);
    display:block;
    margin:.3em;
}

article div blockquote div.author {
    background:rgba(9, 24, 39, 0.35);
    font-weight:bold;
    padding:.3em;
    color:#fff;
}

article div blockquote div.content {
    padding:.3em;
}

.strike {
    text-decoration: line-through;
}

div.img i,
div.spoiler i {
    font-size:2.3em;
    color:#000;
}

div.img,
div.spoiler {
    border:1px solid #000;
    background: rgba(9,24,39,0.6);
    padding:.2em;
    text-align:center;
    margin:.2em;
}

div.spoiler div {
    color:#eee;
    text-align:left;
    display:none;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spin {
    display:inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
}